@charset "UTF-8";
      
      body{
            background-color: rgb(242, 255, 0);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(1, 1, 63);
        }
        h2{
            color: beige;
            background-color: black;
        }
        p{
            text-align: justify;
        }