@charset "UTF 8";

body{
    background-color: rgb(187, 255, 187);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:  green;
}

#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(0, 177, 47);
}

.basico{
    color: rgb(0, 177, 47);;
    font-weight: bold;
}

.intermediario{
    color: rgb(165, 177, 0);;
}

.avancado{
    color: rgb(177, 0, 0);;
}

.destaque{
    background-color: rgba(255, 255, 0, 0.523);
}

p{
    text-indent: 10PX;
}