@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #027333, #04D939);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    box-shadow: 5px 5px 15px #0259398d;
    margin: auto;
    border-radius: 10px;
}

p{
    text-align: justify;
}

h1{
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px #03A63C;
}

h2{
    color: #03A63C;
    text-shadow: 1px 1px 1px #027333;
}